body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #008080; //背景
    color: #fff;
  }
  
  .navbar-laravel {
    background-color: #00F; //laravel～ユーザー名まで
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
  .navbar-brand {
    color: #008000 !important;//変更チェック…どこ？
  }
  
  .nav-link {
    color: #ff0 !important;//変更チェック…どこ？
  }
  
  .table-dark {
    color: #f0f;//変更チェック…どこ？
  }
  
  .list-group-item {
    border-color: #808000;//変更チェック…どこ？
    background-color: #000;
  }
  
  .login-box {
    background-color: #FF4F50(0, 0, 0, 0);//変更チェック…どこ？
  }
  
  .login-header {
    background-color: rgba(0, 0, 0, 0.25)//上にある”ログイン”
  }
  
  .login-body {
    background-color: #40E0D0(0, 0, 0, 0.25);//変更チェック…どこ？
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .list-group-item {
    color: #f00;//変更チェック…どこ？
    border-color: #fff;
    background-color: #000;
  }