body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #008080;
  color: #fff;
}

.navbar-laravel {
  background-color: #00F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #008000 !important;
}

.nav-link {
  color: #ff0 !important;
}

.table-dark {
  color: #f0f;
}

.list-group-item {
  border-color: #808000;
  background-color: #000;
}

.login-box {
  background-color: #FF4F50 0, 0, 0, 0;
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: #40E0D0 0, 0, 0, 0.25;
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #f00;
  border-color: #fff;
  background-color: #000;
}
